<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
  <%if defined? name%>
  <a class="log" href="profile"><%=name[0][0]%></a>
  <%else%>
  <a class="log" href="login">Log in</a>
  <%end%>
  <div class="new_user">
    <a href="/login"> Back </a>
    <form action="/new_user" method="post">
        <input type="text" name="name" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="confirmed_password" placeholder="Confirm password">
        <input type="submit" value="Create new user">
        <%if defined? failure%>
        <%=failure%>
        <%end%>
    </div>
</body>
</html>